* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regular font */
@font-face {
  font-family: 'Blackout';
  src: url('/fonts/blackout-master/webfonts/blackout_midnight-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

/* italic font */
@font-face {
  font-family: 'Blackout';
  src: url('/fonts/blackout-master/webfonts/blackout_sunrise-webfont.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}

/* headline & bold font */
@font-face {
  font-family: 'Blackout';
  src: url('/fonts/blackout-master/webfonts/blackout_two_am-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

body {
  margin: 100px auto 75px auto;
  max-width: 1500px;
  background-image: linear-gradient(to bottom right, black, #5c5c5c);
  font-family: 'Blackout', sans-serif;
  font-weight: 300;
  letter-spacing: 0.08em;
  font-size: 18px;
  line-height: 1.8em;
  color: white;
}

nav {
  position: fixed;
  top: 20px;
  left: 0px;
  z-index: 1;
  text-align: center;
  width: 100%;
}

header,
footer {
  color: gray;
}

h1 {
  font-style: italic;
  font-size: 3em;
  text-align: center;
  margin: 50px 0px 50px 0px;
  line-height: 1.8em;
}

h2 {
  color: white;
  margin: 50px 0px 75px 0px;
}

h3,
h4 {
  margin: 40px 0px 20px 0px;
}

h3,
time,
.darkText {
  color: #5c5c5c;
}

p {
  padding-bottom: 15px;
}

ul {
  text-align: center;
}

li {
  list-style-type: none;
  padding: 20px;
}

.blurbs {
  display: block;
  margin: 20px;
}

.subtitle {
  text-align: center;
}

section {
  padding: 40px 25px;
  margin: 10px;
  border: 3px dotted black;
  border-radius: 0px 100px 0px 25px;
}

.invisibleBox {
  padding: 40px 25px;
  margin: 10px;
}

.dottedBox {
  padding: 40px 25px;
  margin: 10px;
  border: 3px dotted black;
  border-radius: 0px 100px 0px 25px;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
}

.contents {
  margin: 25px;
}

a {
  text-decoration: none;
  font-style: italic;
  color: gray;
}

a:hover {
  color: white;
  font-weight: normal;
}

/* Videos */
.responsive-vid {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) saturate(800%) contrast(100%);
}

.responsive-vid iframe,
.responsive-vid video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

.subtitleImg {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.imgGif {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.shopCover {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 20px;
}

.gallery-item .thumbnail {
  border: 2px solid #151814;
  border-radius: 8px;
  width: 600px;
}

.gallery-item .sketchbook {
  border: 2px solid #151814;
  border-radius: 8px;
  width: 1500px;
}