/* regular font */
@font-face {
  font-family: 'Blackout';
  src: url('/css/fonts/blackout-master/webfonts/blackout_midnight-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

/* italic font */
@font-face {
  font-family: 'Blackout';
  src: url('/css/fonts/blackout-master/webfonts/blackout_sunrise-webfont.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}

/* headline & bold font */
@font-face {
  font-family: 'Blackout';
  src: url('/css/fonts/blackout-master/webfonts/blackout_two_am-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

body {
  margin: 2.5% auto;
  max-width: 1500px;
  background-color: #f66dd5;
  background-image: linear-gradient(to bottom right, black, gray);
  font-family: 'Blackout', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8em;
  color: white;
}

nav {
  position: fixed;
  top: 20px;
  left: 0px;
  z-index: 1;
  /* background-color: #a1f1d6; */
  text-align: center;
  width: 100%;
}

ul,
li {
  display: inline;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 50px;
}

#subtitle {
  text-align: center;
  padding: 20px 20px;
}

section {
  padding: 30px 15px;
  margin: 10px;
  border: 2px solid #151814;
  border-radius: 20px 20px 5px 5px;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
}

a {
  /* font-family: 'Blackout', sans-serif; */
  text-decoration: none;
  font-style: italic;
  color: gray;
}

a:hover {
  color: white;
  background-color: black;
  font-weight: normal;
}

/* Video */
.responsive-vid {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.responsive-vid iframe,
.responsive-vid video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}