/* regular font */
@font-face {
  font-family: 'Blackout';
  src: url('/fonts/blackout-master/webfonts/blackout_midnight-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

/* italic font */
@font-face {
  font-family: 'Blackout';
  src: url('/fonts/blackout-master/webfonts/blackout_sunrise-webfont.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}

/* headline & bold font */
@font-face {
  font-family: 'Blackout';
  src: url('/fonts/blackout-master/webfonts/blackout_two_am-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

body {
  margin: 2.5% auto;
  max-width: 1500px;
  background-image: linear-gradient(to bottom right, black, gray);
  font-family: 'Blackout', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8em;
  color: white;
}

header {
  color: #5c5c5c;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 50px;
}

nav {
  position: fixed;
  top: 20px;
  left: 0px;
  z-index: 1;
  /* background-color: #a1f1d6; */
  text-align: center;
  width: 100%;
}

ul,
li {
  display: inline;
}

#subtitle {
  text-align: center;
  padding: 20px 20px;
}

h2,
.darkText {
  color: #5c5c5c;
}

p {
  letter-spacing: 0.08em;
}

section {
  padding: 30px 15px;
  margin: 10px;
  border: 3px dotted black;
  /* border-radius: 20px 20px 5px 5px; */
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
}

a {
  /* font-family: 'Blackout', sans-serif; */
  text-decoration: none;
  font-style: italic;
  color: gray;
}

a:hover {
  color: white;
  background-color: black;
  font-weight: normal;
}

/* Videos */
.responsive-vid {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.responsive-vid iframe,
.responsive-vid video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

.subtitleImg {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.imgGif {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.shopCover {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 20px;
}

.gallery-item .thumbnail {
  border: 2px solid #151814;
  border-radius: 8px;
  width: 600px;
}